<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="/styles/main.css" />
		<link rel="stylesheet" href="/styles/pages/admin.css" />
		<title>Admin</title>
	</head>
	<body>
		<div class="container">
			<h1>Gerenciar Produtos</h1>
			<form method="post" action="/admin">
				<div class="input-group">
					<div class="input-wrapper name">
						<label for="name">Nome:</label>
						<input type="text" id="name" name="name" />
					</div>
					<div class="input-wrapper amount">
						<label for="amount">Quantidade:</label>
						<input type="number" id="amount" name="amount" />
					</div>
					<div class="input-wrapper price">
						<label for="price">Preço:</label>
						<input type="number" step="0.01" id="price" name="price" />
					</div>
					<button class="add">+</button>
				</div>
			</form>
			<table border="1px" cellspacing="0">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Quantidade</th>
						<th>Preço</th>
						<th colspan="2">Ações</th>
					</tr>
				</thead>
				<tbody>
					<% products.forEach((product) => { %>
					<tr>
						<td class="name"><%= product.name %></td>
						<td class="amount"><%= product.amount %></td>
						<td class="price">R$<%= product.price.replace('.', ',') %></td>
						<td class="edit">
							<button>
								<img src="/images/edit-24.svg" alt="Editar Produto" />
							</button>
						</td>
						<td class="delete">
							<button>
								<img src="/images/trash-24.svg" alt="Excluir Produto" />
							</button>
						</td>
					</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
	</body>
</html>
