<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=h, initial-scale=1.0" />
		<link rel="stylesheet" href="/styles/index.css" />
		<title>Document</title>
	</head>
	<body>
		<div class="container">
			<h1>Controle de Estoque</h1>
			<a href="/admin">Admin</a>
			<a href="/usuario">Usuario</a>
		</div>
	</body>
</html>
